<!DOCTYPE html>
<html>
<head>
	<title>Bolão da Copa</title>
</head>
<body>
	<div class="container">
		<div class="card">
			<div class="card-header">
				Aposta
			</div>
			<div class="card-body">
				<div class="row">
					<div class="col-md-3 team-name left-blue">
						Egito
					</div>
					<div class="col-md-2">
						<input type="number" class="team-score" placeholder="0">
					</div>
					<div class="col-md-1 team-versus">
						X
					</div>
					<div class="col-md-2">
						<input type="number" class="team-score" placeholder="0">
					</div>
					<div class="col-md-4 team-name right-red">
						Rússia
					</div>
				</div>
				<hr>
				<div class="row">
					<div class="col-md-3 team-name left-blue">
						Brasil
					</div>
					<div class="col-md-2">
						<input type="number" class="team-score" placeholder="0">
					</div>
					<div class="col-md-1 team-versus">
						X
					</div>
					<div class="col-md-2">
						<input type="number" class="team-score" placeholder="0">
					</div>
					<div class="col-md-4 team-name right-red">
						Uruguai
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>