<!DOCTYPE html>
<html>
<head>
	<title>Bolão da Copa</title>
</head>
<body>
	<div class="container">
		<div class="card">
			<div class="card-header">
				Confirmação
			</div>
			<div class="card-body">
				<div class="row">
					<div class="col-md-6">
						<div class="row">
							<div class="col-md-12">
								<h1>Login</h1>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<form>
									<div class="form-group">
										<label for="inputLoginUserName">Login</label>
										<input type="text" class="form-control" id="inputLoginUserName" placeholder="Login">
									</div>
									<div class="form-group">
										<label for="inputLoginPassword">Password</label>
										<input type="password" class="form-control" id="inputLoginPassword" placeholder="Password">
									</div>
									<button type="submit" class="btn btn-default blue">Entrar</button>
								</form>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="row">
							<div class="col-md-12">
								<h1>Registrar</h1>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<form>
									<div class="form-group">
										<label for="inputLoginUserName">Login</label>
										<input type="text" class="form-control" id="inputLoginUserName" placeholder="Login">
									</div>
									<div class="form-group">
										<label for="inputLoginPassword">Password</label>
										<input type="password" class="form-control" id="inputLoginPassword" placeholder="Password">
									</div>
									<button type="submit" class="btn btn-default green">Registrar</button>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>